@import './common.scss';

a{
  text-decoration: none;
  color: $color_black;
}

.hello{
  color: $color_black;
  text-align: center;
  margin-top: 30px;
  a{
    text-decoration: underline;
    color: $color_red;
  }
}

.form_container{
  width: 300px;
  padding: 32px;
  border-radius: 10px;
  box-shadow: 0 4px 36px $color_grey;
  font-family: sans-serif;
  letter-spacing: 1px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  h4{
    color: $color-black;
    margin: 0 0 20px 0;
  }
  button{
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: aliceblue;
    background-color: $color_blue;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
  }
  .input-group{
    margin-bottom: 25px;
    input{
      width: 100%;
      padding: 0 0 10px 0;
      border: none;
      border-bottom: 2px solid $color_grey;
      background-color: transparent;
      outline: none;
      transition: 0.3s;
    }
  }
}
#listItem {
  text-align: left;
  padding: 0;
  li {
    list-style: none;
    font-size: 20px;
    margin-bottom: 10px;
    color: $color_red;
  }
}

.HomePage{
  padding: 50px;
}
div#menu {
  width: 100%;
  line-height: 45px;
  background: #012c6b;
}
.btn{
  display: inline;
  a{
    text-decoration: none;
    line-height: 45px;
    border-radius: 3px;
    color: $color_white;
    padding: 0 15px;
  }
}
